extends layout

block content
    nav(class="navbar navbar-expand-sm bg-success navbar-dark")
        <!-- Brand -->
        a(class="navbar-brand" href="") CLINICA

        <!-- Links -->
        ul(class="navbar-nav ms-auto mb-2 mb-lg-0")
            li(class="nav-item")
                a(class="nav-link" href="/") LOBBY
            li(class="nav-item")
                a(class="nav-link" href="/persona/agregar") AGREGAR PERSONA
            li(class="nav-item")
                a(class="nav-link" href="/turno/allTurnos") TODOS TURNOS
            <!-- Dropdown -->
            li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown") #{persona.nombre} #{persona.apellido}
                div(class="dropdown-menu")
                    a(class="dropdown-item" href="/persona/perfil") PERFIL
                    a(class="dropdown-item" href="/singOut") CERRAR SESIÓN
    .container-fluid
        .row
            .col-4
            .col-4
                h1 AGREGAR PERSONA
                form(method="post" action="/persona/agregar")
                    .form-group
                        label(for="userRegistro") USUARIO:
                        input#userRegistro(type="text" name="userRegistro" class="form-control")
                    .form-group
                        label(for="passRegistro") CONTRASEÑA:
                        input#passRegistro(type="password" name="passRegistro" class="form-control")
                    .form-group
                        label(for="dni") DNI:
                        input#dni(type="number" name="dni" class="form-control")
                    .form-group
                        label(for="nombre") NOMBRE:
                        input#nombre(type="text" name="nombre" class="form-control")
                    .form-group
                        label(for="apellido") APELLIDO:
                        input#apellido(type="text" name="apellido" class="form-control")
                    .form-group
                        label(for="celular") TELEFONO/CEL:
                        input#celular(type="number" name="celular" class="form-control")
                    .form-group
                        label(for="email") EMAIL:
                        input#email(type="email" name="email" class="form-control")
                    .form-group
                        label(for="domicilio") DOMICILIO:
                        input#domicilio(type="text" name="domicilio" class="form-control")
                    br
                    button(type="submit" class="btn btn-outline-success" style="margin-left: 40%; margin-right: 5px;") CREAR
            .col-4

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")